﻿h1 {
    font-size: 50px;
    color: black;
    padding: 50px;
    text-align: center;
    text-shadow: black 0.3em 0.3em 0.3em;
    font-family: Lato, sans-serif;
}

card {
    padding: 200px;
    text-align: center;
}
