﻿/*Aqui esta el diseño del Layout*/
nav {
    background-color: #008e99;
    /*overflow: hidden;*/
    position: absolute;
}

    header, nav ul li {
        float: left;
    }

        header, nav ul li a {
            padding: 10px 20px;
            display: block;
            color: #FFFFFF;
            text-decoration: none;
        }

            /*header nav ul a:hover {
                background: red;
            }*/




/*Aqui el diseño del titulo h1*/
h1 {
    color: black;
    text-align:center;
    text-shadow: black 0.3em 0.3em 0.3em;
}


body {
    background-image: url(../img/fondo-fre.jpg);
    background-size: cover;
    /*height: 900px;
    width: 100%;*/
    /*background-position: 0% 0%;*/
    background-repeat: no-repeat;
    color: white;
    /*text-shadow: black 0.3em 0.3em 0.3em;
    position: fixed;*/
   }



body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #434142;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}



/*Aqui empieza el diseño del dropdown de archivos*/

.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
.active {
    background-color:grey;
    color: white;
}
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}
