﻿
h1 {
    /*background-color: white;*/
    font-size: 72px;
    color: black;
    padding: 100px;
    text-align: center;
    text-shadow: black 0.3em 0.3em 0.3em;
    font-family: Lato, sans-serif;
}
p {
    font-size: 40px;
}
