﻿
@{
    ViewBag.Title = "CargarInv";
}
<link rel=StyleSheet type="text/css" href="~/Content/css/CargarInv.css"> 


<br />
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <h1 class="display-1">Ingreso a inventario</h1>
</head>
<body>
    <header>
        
    </header>
    <!--Aqui empieza CARD-->
    <div class="container">
        <div class="card">
            <div class="card-header"><h2>Sube tu archivo que deseas agregar a inventario</h2></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="customFile" name="filename">
                            <label class="custom-file-label" for="customFile">Subir Archivo...</label>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <button class="btn-block btn btn-outline-success"><b>Subir</b></button>
                    </div>
                </div>


            </div>
            <div class="card-footer">Gracias</div>
        </div>
    </div>


    
    
</body>
</html>



