﻿
@{
    ViewBag.Title = "CargarGSPN";
}

<link rel=StyleSheet type="text/css" href="~/Content/css/CargarGSPN.css"> <!--Aqui esta mi hoja de estilo-->


<!doctype html>
<html lang="en">
<head>
    <h1 class="display-1">Ingreso a GSPN</h1>
</head>
<header>
   
</header>

<body>


   

    <div class="card">
        <div class="card-header"> <h2> Sube tus archivos GSPN </h2> </div>
        <div class="card-body">
            <!-- contenido del CARD -->
            <div class="modal-body">
                <div class="row mx-auto">
                    <div class="col-md-10">
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="customFile" name="filename">
                            <label class="custom-file-label" for="customFile">Subir Archivo...</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn-block btn btn-outline-success"><b>Subir</b></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">Gracias</div>
    </div>
    <br />
</body>
</html>
