﻿
@{
    ViewBag.Title = "ConfMaterial";
}
@*<link rel=StyleSheet type="text/css" href="~/Content/css/diseño.css">*@ <!--Aqui esta mi hoja de estilo-->


<!DOCTYPE html>
<html lang="en">

<body>
    <header>
    </header>
    <br />
    <br>
    <div class="container" style="background-color: white; padding-bottom: 20px ">
        <div class="row" style="padding-top: 20px">
            <div class="col-md-12">
                <h2 class="text-center text-secondary"><b>Material Entregado</b></h2><hr>
            </div>
        </div>
        <div class="row">
            <div class="col md 2">
                <select name="" id="" class="form-control">
                    <option value="">P030320-01</option>
                    <option value="">P030320-02</option>
                    <option value="">P030320-03</option>
                    <option value="">P030320-04</option>
                    <option value="">P030320-05</option>
                    <option value="">P030320-06</option>
                    <option value="">P030320-07</option>
                    <option value="">P040320-01</option>
                    <option value="">P050320-02</option>
                    <option value="">P060320-03</option>
                    <option value="">P070320-04</option>
                    <option value="">P080320-05</option>
                    <option value="">P090320-06</option>
                </select>
            </div>
            <div class="col md 8"></div>
            <div class="col md 2">
                <input type="text" placeholder="Buscar..." class="form-control">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col md 12">
                <table class="table table-hover table-responsive text-center">
                    <thead style="background-color: #008E99" class="text-light">
                        <tr>
                            <th>#</th>
                            <th>No. Packing</th>
                            <th>No. Parte</th>
                            <th>Ingeniero</th>
                            <th>Solicitud de Parte</th>
                            <th>No. Orden</th>
                            <th>Folio ASC</th>
                            <th>Delivery</th>
                            <th>Fecha</th>
                            <th>Hora Firma</th>
                            <th>ID_AGI</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>P130320-02</td>
                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                            <td>JUAN ANTONIO GARCIA RIOS</td>
                            <td>GH82-19641A</td>
                            <td>4154258745</td>
                            <td>M511032000071</td>
                            <td>8509767772000420</td>
                            <td>03/03/2020</td>
                            <td>16:30</td>
                            <td>RQUESTED</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>P130320-02</td>
                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                            <td>JUAN ANTONIO GARCIA RIOS</td>
                            <td>GH82-19641A</td>
                            <td>4154258745</td>
                            <td>M511032000071</td>
                            <td>8509767772000420</td>
                            <td>03/03/2020</td>
                            <td>16:30</td>
                            <td>RQUESTED</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>P130320-03</td>
                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                            <td>JUAN ANTONIO GARCIA RIOS</td>
                            <td>GH82-19641A</td>
                            <td>4154258745</td>
                            <td>M511032000071</td>
                            <td>8509767772000420</td>
                            <td>03/03/2020</td>
                            <td>16:30</td>
                            <td>RQUESTED</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>P130320-03</td>
                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                            <td>JUAN ANTONIO GARCIA RIOS</td>
                            <td>GH82-19641A</td>
                            <td>4154258745</td>
                            <td>M511032000071</td>
                            <td>8509767772000420</td>
                            <td>03/03/2020</td>
                            <td>16:30</td>
                            <td>RQUESTED</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>