﻿
@{
    ViewBag.Title = "Index";
}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel=StyleSheet type="text/css" href="~/Content/css/diseño.css"> <!--Aqui esta mi hoja de estilo-->


<title>@ViewBag.Title - Mi aplicación ASP.NET</title>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<html>
<body>

   

        <div class="jumbotron">
            <div class="container">
                <br />
                <h1 class="display-1">Almacen GSPN</h1>
                <p>
                    Sube tus archivos GSPN, controla los flujos de entradas y salidas de tu inventario y gestióna el (control de entrga de material al tecnico etc... )
                    Estos flujos suelen no estar coordinados y esa es una de las razones por las que se precisa definir una óptima logística de almacenamiento.
                </p>

            </div>
        </div>



</body>
</html>
