﻿
@{
    ViewBag.Title = "Inventario";
}
@*<link rel=StyleSheet type="text/css" href="~/Content/css/diseño.css">*@ <!--Aqui esta mi hoja de estilo-->

<!doctype html>
<html lang="en" class="h-100">
<head>
     
    
</head>
<body>
    <header>
    </header>
    <br />
    <br>
    <div class="container" style="background-color: white; padding-bottom: 10px ">
        <div class="row" style="padding-top: 10px">
            <div class="col-md-12">
                <h2 class="text-center text-secondary"><b>Inventario 2020</b></h2><hr>
            </div>
        </div>
        <div class="row">
            <div class="col md 2">
                <select name="" id="" class="form-control">
                    <option value="">P030320-01</option>
                    <option value="">P030320-02</option>
                    <option value="">P030320-03</option>
                    <option value="">P030320-04</option>
                    <option value="">P030320-05</option>
                    <option value="">P030320-06</option>
                    <option value="">P030320-07</option>
                    <option value="">P040320-01</option>
                    <option value="">P050320-02</option>
                    <option value="">P060320-03</option>
                    <option value="">P070320-04</option>
                    <option value="">P080320-05</option>
                    <option value="">P090320-06</option>
                </select>
            </div>
            <div class="col md 2">
                <select name="" id="" class="form-control">
                    <option value="">Enero</option>
                    <option value="">Febrero</option>
                    <option value="">Marzo</option>
                    <option value="">Abril</option>
                    <option value="">Mayo</option>
                    <option value="">Junio</option>
                    <option value="">Julio</option>
                    <option value="">Agosto</option>
                    <option value="">Septiembre</option>
                    <option value="">Octubre</option>
                    <option value="">Noviembre</option>
                    <option value="">Diciembre</option>
                </select>
            </div>
            <div class="col md 2">
                <input type="text" placeholder="Buscar..." class="form-control">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col md 12">
                <table class="table table-hover table-responsive text-center">
                    <thead style="background-color: #008E99" class="text-light">
                        <tr>
                            <th>#</th>
                            <th>Modelo</th>
                            <th>No. Parte</th>
                            <th>Descripción</th>
                            <th class="table-warning text-dark">Super Stock</th>
                            <th>Ubicación</th>
                            <th class="table-success text-dark">Stock</th>
                            <th>Mes</th>
                            <th class="table-success text-dark">Ultima Entrada</th>
                            <th class="table-danger text-dark">Ultima Salida</th>
                            <th>Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>SM-J701M</td>
                            <td>GH82-19641A</td>
                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                            <td class="table-warning text-dark">MICRO SPEAKER</td>
                            <td>B05-01</td>
                            <td class="table-success text-dark">3</td>
                            <td>Marzo</td>
                            <td class="table-success text-dark">25/02/2020 10:35:05</td>
                            <td class="table-danger text-dark">02/03/2020 16:35:05</td>
                            <td><button type="button" class="btn btn-block btn-outline-info" data-toggle="modal" data-target="#myModal">Detalle...</button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>SM-J701M</td>
                            <td>GH82-19641A</td>
                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                            <td class="table-warning text-dark">MICRO SPEAKER</td>
                            <td>B05-01</td>
                            <td class="table-success text-dark">3</td>
                            <td>Marzo</td>
                            <td class="table-success text-dark">25/02/2020 10:35:05</td>
                            <td class="table-danger text-dark">02/03/2020 16:35:05</td>
                            <td><button type="button" class="btn btn-block btn-outline-info" data-toggle="modal" data-target="#myModal">Detalle...</button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>SM-J701M</td>
                            <td>GH82-19641A</td>
                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                            <td class="table-warning text-dark">MICRO SPEAKER</td>
                            <td>B05-01</td>
                            <td class="table-success text-dark">3</td>
                            <td>Marzo</td>
                            <td class="table-success text-dark">25/02/2020 10:35:05</td>
                            <td class="table-danger text-dark">02/03/2020 16:35:05</td>
                            <td><button type="button" class="btn btn-block btn-outline-info" data-toggle="modal" data-target="#myModal">Detalle...</button></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>SM-J701M</td>
                            <td>GH82-19641A</td>
                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                            <td class="table-warning text-dark">MICRO SPEAKER</td>
                            <td>B05-01</td>
                            <td class="table-success text-dark">3</td>
                            <td>Marzo</td>
                            <td class="table-success text-dark">25/02/2020 10:35:05</td>
                            <td class="table-danger text-dark">02/03/2020 16:35:05</td>
                            <td><button type="button" class="btn btn-block btn-outline-info" data-toggle="modal" data-target="#myModal">Detalle...</button></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>SM-J701M</td>
                            <td>GH82-19641A</td>
                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                            <td class="table-warning text-dark">MICRO SPEAKER</td>
                            <td>B05-01</td>
                            <td class="table-success text-dark">3</td>
                            <td>Marzo</td>
                            <td class="table-success text-dark">25/02/2020 10:35:05</td>
                            <td class="table-danger text-dark">02/03/2020 16:35:05</td>
                            <td><button type="button" class="btn btn-block btn-outline-info" data-toggle="modal" data-target="#myModal">Detalle...</button></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>SM-J701M</td>
                            <td>GH82-19641A</td>
                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                            <td class="table-warning text-dark">MICRO SPEAKER</td>
                            <td>B05-01</td>
                            <td class="table-success text-dark">3</td>
                            <td>Marzo</td>
                            <td class="table-success text-dark">25/02/2020 10:35:05</td>
                            <td class="table-danger text-dark">02/03/2020 16:35:05</td>
                            <td><button type="button" class="btn btn-block btn-outline-info" data-toggle="modal" data-target="#myModal">Detalle...</button></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>SM-J701M</td>
                            <td>GH82-19641A</td>
                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                            <td class="table-warning text-dark">MICRO SPEAKER</td>
                            <td>B05-01</td>
                            <td class="table-success text-dark">3</td>
                            <td>Marzo</td>
                            <td class="table-success text-dark">25/02/2020 10:35:05</td>
                            <td class="table-danger text-dark">02/03/2020 16:35:05</td>
                            <td><button type="button" class="btn btn-block btn-outline-info" data-toggle="modal" data-target="#myModal">Detalle...</button></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>SM-J701M</td>
                            <td>GH82-19641A</td>
                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                            <td class="table-warning text-dark">MICRO SPEAKER</td>
                            <td>B05-01</td>
                            <td class="table-success text-dark">3</td>
                            <td>Marzo</td>
                            <td class="table-success text-dark">25/02/2020 10:35:05</td>
                            <td class="table-danger text-dark">02/03/2020 16:35:05</td>
                            <td><button type="button" class="btn btn-block btn-outline-info" data-toggle="modal" data-target="#myModal">Detalle...</button></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>SM-J701M</td>
                            <td>GH82-19641A</td>
                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                            <td class="table-warning text-dark">MICRO SPEAKER</td>
                            <td>B05-01</td>
                            <td class="table-success text-dark">3</td>
                            <td>Marzo</td>
                            <td class="table-success text-dark">25/02/2020 10:35:05</td>
                            <td class="table-danger text-dark">02/03/2020 16:35:05</td>
                            <td><button type="button" class="btn btn-block btn-outline-info" data-toggle="modal" data-target="#myModal">Detalle...</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container">

        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title text-secondary text-center">Detalle - Marzo GH82-19641A </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="col md 12">
                            <div class="col md 2">
                                <input type="text" placeholder="Buscar..." class="form-control">
                            </div>
                            <hr>
                            <table class="table table-hover table-responsive text-center">
                                <thead style="background-color: #008E99" class="text-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Fecha</th>
                                        <th class="table-info text-dark">Entrada</th>
                                        <th class="table-danger text-dark">Salida</th>
                                        <th class="table-success text-dark">Stock</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>25/02/2020 10:35:05</td>
                                        <td class="table-info text-dark">5</td>
                                        <td class="table-danger text-dark">2</td>
                                        <td class="table-success text-dark">3</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>26/02/2020 10:35:05</td>
                                        <td class="table-info text-dark">0</td>
                                        <td class="table-danger text-dark">0</td>
                                        <td class="table-success text-dark">3</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>27/02/2020 10:35:05</td>
                                        <td class="table-info text-dark">0</td>
                                        <td class="table-danger text-dark">0</td>
                                        <td class="table-success text-dark">3</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>28/02/2020 10:35:05</td>
                                        <td class="table-info text-dark">0</td>
                                        <td class="table-danger text-dark">0</td>
                                        <td class="table-success text-dark">3</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>29/02/2020 10:35:05</td>
                                        <td class="table-info text-dark">0</td>
                                        <td class="table-danger text-dark">0</td>
                                        <td class="table-success text-dark">3</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>01/03/2020 10:35:05</td>
                                        <td class="table-info text-dark">0</td>
                                        <td class="table-danger text-dark">1</td>
                                        <td class="table-success text-dark">2</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>02/03/2020 10:35:05</td>
                                        <td class="table-info text-dark">0</td>
                                        <td class="table-danger text-dark">0</td>
                                        <td class="table-success text-dark">2</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>03/03/2020 10:35:05</td>
                                        <td class="table-info text-dark">0</td>
                                        <td class="table-danger text-dark">0</td>
                                        <td class="table-success text-dark">2</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>04/03/2020 10:35:05</td>
                                        <td class="table-info text-dark">0</td>
                                        <td class="table-danger text-dark">0</td>
                                        <td class="table-success text-dark">2</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>05/03/2020 10:35:05</td>
                                        <td class="table-info text-dark">0</td>
                                        <td class="table-danger text-dark">0</td>
                                        <td class="table-success text-dark">2</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>06/03/2020 10:35:05</td>
                                        <td class="table-info text-dark">0</td>
                                        <td class="table-danger text-dark">0</td>
                                        <td class="table-success text-dark">2</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>07/03/2020 10:35:05</td>
                                        <td class="table-info text-dark">0</td>
                                        <td class="table-danger text-dark">0</td>
                                        <td class="table-success text-dark">2</td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>08/03/2020 10:35:05</td>
                                        <td class="table-info text-dark">0</td>
                                        <td class="table-danger text-dark">0</td>
                                        <td class="table-success text-dark">2</td>
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td>09/03/2020 10:35:05</td>
                                        <td class="table-info text-dark">0</td>
                                        <td class="table-danger text-dark">0</td>
                                        <td class="table-success text-dark">2</td>
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td>10/03/2020 10:35:05</td>
                                        <td class="table-info text-dark">0</td>
                                        <td class="table-danger text-dark">0</td>
                                        <td class="table-success text-dark">2</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
    
   
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>
</html>
