﻿
@{
    ViewBag.Title = "Packing";
}
@*<link rel=StyleSheet type="text/css" href="~/Content/css/diseño.css">*@ <!--Aqui esta mi hoja de estilo-->


<!DOCTYPE html>
<html lang="en" class="h-100">

<body>
    <br />
    <br>
    <!--aqui va comenzar el modal-->
    <div>
        <hr />
                    <!--Aqui va lo que le quira meter-->
                    <!-- Begin page content -->
                    <div class="container" style="background-color: white; padding-bottom: 10px ">
                        <div class="row" style="padding-top: 10px">
                            <div class="col-md-12">
                                <h2 class="text-center text-secondary"><b>Packing GSPN</b></h2><hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col md 2">
                                <button class="btn btn-block btn-outline-info" alt=""><b>Imprimir Ubicación</b></button>
                            </div>
                            <div class="col-md-2">

                            </div>
                            <div class="col md 2">
                                <button class="btn btn-block btn-outline-success" alt=""><b>Imprimir Surtido</b></button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col md 12">
                                <table class="table table-hover table-responsive text-center">
                                    <thead style="background-color: #008E99" class="text-light">
                                        <tr>
                                            <th>#</th>
                                            <th>No. Packing</th>
                                            <th>No. Orden</th>
                                            <th>No. Parte</th>
                                            <th>Parte Solicitada</th>
                                            <th>Ingeniero</th>
                                            <th>No. ASC</th>
                                            <th>Ubicación</th>
                                            <th>Delivery</th>
                                            <th>Petición</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-danger">
                                            <td>1</td>
                                            <td>P130320-02</td>
                                            <td>4154258745</td>
                                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                                            <td>GH82-19641A</td>
                                            <td>Jesus Osorio</td>
                                            <td>M511032000071</td>
                                            <td>B01-02</td>
                                            <td><input type="text" class="form-control"></td>
                                            <td>DOA-P130320-01</td>
                                        </tr>
                                        <tr class="table-success">
                                            <td>2</td>
                                            <td>P130320-01</td>
                                            <td>4154258745</td>
                                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                                            <td>GH82-19641A</td>
                                            <td>Victor Esparza</td>
                                            <td>M511032000071</td>
                                            <td>B01-02</td>
                                            <td><input type="text" class="form-control"></td>
                                            <td>Surtir</td>
                                        </tr>
                                        <tr class="table-success">
                                            <td>3</td>
                                            <td>P130320-01</td>
                                            <td>4154258745</td>
                                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                                            <td>GH82-19641A</td>
                                            <td>Mario Vallejo</td>
                                            <td>M511032000071</td>
                                            <td>B01-02</td>
                                            <td><input type="text" class="form-control"></td>
                                            <td>Surtir</td>
                                        </tr>
                                        <tr class="table-success">
                                            <td>4</td>
                                            <td>P130320-01</td>
                                            <td>4154258745</td>
                                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                                            <td>GH82-19641A</td>
                                            <td>Isidro Padilla</td>
                                            <td>M511032000071</td>
                                            <td>B01-02</td>
                                            <td><input type="text" class="form-control"></td>
                                            <td>Surtir</td>
                                        </tr>
                                        <tr class="table-warning">
                                            <td>5</td>
                                            <td>P130320-01</td>
                                            <td>4154258745</td>
                                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                                            <td>GH82-19641A</td>
                                            <td>Isidro Padilla</td>
                                            <td>M511032000071</td>
                                            <td>B01-02</td>
                                            <td><input type="text" class="form-control"></td>
                                            <td>UB</td>
                                        </tr>
                                        <tr class="table-warning">
                                            <td>6</td>
                                            <td>P130320-01</td>
                                            <td>4154258745</td>
                                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                                            <td>GH82-19641A</td>
                                            <td>Ricardo Aroyo</td>
                                            <td>M511032000071</td>
                                            <td>B01-02</td>
                                            <td><input type="text" class="form-control"></td>
                                            <td>UB</td>
                                        </tr>
                                        <tr class="table-success">
                                            <td>7</td>
                                            <td>P130320-01</td>
                                            <td>4154258745</td>
                                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                                            <td>GH82-19641A</td>
                                            <td>Ricardo Aroyo</td>
                                            <td>M511032000071</td>
                                            <td>B01-02</td>
                                            <td><input type="text" class="form-control"></td>
                                            <td>Surtir</td>
                                        </tr>
                                        <tr class="table-success">
                                            <td>8</td>
                                            <td>P130320-01</td>
                                            <td>4154258745</td>
                                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                                            <td>GH82-19641A</td>
                                            <td>José Mercado</td>
                                            <td>M511032000071</td>
                                            <td>B01-02</td>
                                            <td><input type="text" class="form-control"></td>
                                            <td>Surtir</td>
                                        </tr>
                                        <tr class="table-success">
                                            <td>9</td>
                                            <td>P130320-01</td>
                                            <td>4154258745</td>
                                            <td>SVC COVER ASSY-B/G;LATIN_ZB_A205_VN;SM-A</td>
                                            <td>GH82-19641A</td>
                                            <td>José Mercado</td>
                                            <td>M511032000071</td>
                                            <td>B01-02</td>
                                            <td><input type="text" class="form-control"></td>
                                            <td>Surtir</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col md 9"></div>
                            <div class="col-md-3">
                                <button class="btn btn-block btn-outline-success">Imprimir Etiquetas</button>
                            </div>
                        </div>
                    </div>                                  
              </div>
    <!--aqui va el script del modal-->
    <!--aqui termina-->

</body>
</html>
<script>
    $('#myModal').on('shown.bs.modal',
        function () {
            $('#myInput').trigger('focus')
        })
</script>