﻿
@{
    ViewBag.Title = "ShowRequest";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>





    <script>
        $(document).ready(function () {
            $("#demoRequest").DataTable({

                "processing": true, // muestra el mensaje de procesando
                "serverSide": true, // calculos del procesamiento (filtrado, paginación y clasificación)
                "filter": true, // habilita el cuadro de busqueda (search box)
                "orderMulti": false, // for disable multiple column at once ordena multiples columnas
                "pageLength": 10,

                "ajax": {
                    "url": "/Request/LoadRequest",
                    "type": "POST",
                    "datatype": "json"
                },

                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": true,
                        "searchable": true
                    },
                    {
                        "targets": [1],
                        "visible": true,
                        "searchable": true
                    },
                    {
                        "targets": [2],
                        "searchable": true,
                        "orderable": false
                    },
                    {
                        "targets": [3],
                        "searchable": true,
                        "orderable": false
                    },
                    {
                        "targets": [4],
                        "searchable": true,
                        "orderable": false
                    },
                    {
                        "targets": [5],
                        "searchable": false,
                        "orderable": false
                    }

                    ],

                "columns": [
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "request_no", "name": "request_no", "autoWidth": true },
                    { "data": "ticket", "name": "ticket", "autoWidth": true },
                    { "data": "ID_solicitud", "name": "ID_solicitud", "autoWidth": true },
                    { "data": "localizacion_2", "name": "localizacion_2", "autoWidth": true },
                    { "data": "localizacion_3", "name": "localizacion_3", "autoWidth": true },
                    { "data": "comentarios", "name": "comentarios", "autoWidth": true },
                
                 {
                    "render": function (data, type, full, meta) {
                        return '<a class="btn btn-info" href="/Request/EditRequest/' + full.ID + '">Edit</a>';
                    }
                 }

                ]
            });
        });
    </script>

    @*<script>

            function DeleteData(OrderID) {
                if (confirm("Are you sure you want to delete ...?")) {
                    Delete(OrderID);
                }
                else {
                    return false;
                }
            }


            function Delete(OrderID) {
                var url = '@Url.Content("~/")' + "OrderStatus/DeleteOrder";
                $.post(url, { ID: OrderID }, function (data) {
                    if (data == "Deleted") {
                        alert("Delete Order !");
                        oTable = $('#demoOrder').DataTable();
                        oTable.draw();
                    }
                    else {
                        alert("Something Went Wrong!");
                    }
                });
            }
        </script>*@

</head>
<body>
    <div class="container">
        <br />
        @*<div style="width:100%; margin:0 auto;">*@
        <table id="demoRequest" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>request_no</th>
                    <th>ticket</th>
                    <th>ID_solicitud</th>
                    <th>localizacion_2</th>
                    <th>localizacion_3</th>
                    <th>comentarios</th>
                    <th>Edit</th>
                    @*<th>Delete</th>*@
                </tr>
            </thead>
        </table>
    </div>
    @*</div>*@
</body>
</html>