﻿@{
    ViewBag.Title = "Home Page";
}
<link rel=StyleSheet type="text/css" href="~/Content/css/Index.css"> @*Aqui esta mi hoja de estilo*@


<div>
    <div class="container">
        <h1>Almacen GSPN</h1>
        <p class="text-center">
            Sube tus archivos GSPN, controla los flujos de entradas y salidas de tu inventario y gestióna el (control de entrga de material al tecnico etc... )
            Estos flujos suelen no estar coordinados y esa es una de las razones por las que se precisa definir una óptima logística de almacenamiento.
        </p>

    </div>
</div>
