﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel=StyleSheet type="text/css" href="~/Content/css/diseño.css"> @*Aqui esta mi hoja de estilo*@
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <a class="navbar-brand" href="#"></a>
        <a href="~/"> <img src="~/Content/img/logo-blanco.png" alt="logo" style="width:100px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @*@Html.ActionLink("Agiotech", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Archivos</a>
                    <div class="dropdown-menu" aria-label="dropdown01">
                        <a class="dropdown-item" href="#"> @Html.ActionLink("Archivo GSPN", "CargarGSPN", "Agio")</a>
                        <a class="dropdown-item" href="#"> @Html.ActionLink("Archivo Inventario", "CargarInv", "Agio")</a>
                    </div>
                </li>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*<li>@Html.ActionLink("Index", "Index", "Agio")</li>*@
                        <li>@Html.ActionLink("Packing", "Packing", "Agio")</li>
                        <li>@Html.ActionLink("Material Confirmado", "ConfMaterial", "Agio")</li>
                        <li>@Html.ActionLink("Inventario", "Inventario", "Agio")</li>
                        <li>@Html.ActionLink("Request GSPN", "showRequest", "Request")</li>
                        <li>@Html.ActionLink("Reportes", "Reportes", "Agio")</li>
                    </ul>
                </div>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Packing" aria-label="search">
                <button class="btn btn-secondary" type="submit">Buscar</button>
            </form>
        </div>
    </nav>

    <!--Aquí empieza mi menú vertical-->

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <button class="dropdown-btn">Archivos
    <i class="fa fa-caret-down"></i>
  </button>
        <div class="dropdown-container">
            <a href="#">@Html.ActionLink("Archivo GSPN", "CargarGSPN", "Agio")</a>
            <a href="#"> @Html.ActionLink("Archivo Inventario", "CargarInv", "Agio")</a>
          
        </div>
        <div>
            <a href="#">@Html.ActionLink("Packing", "Packing", "Agio")</a>
            <a href="#">@Html.ActionLink("Material Confirmado", "ConfMaterial", "Agio")</a>
            <a href="#">@Html.ActionLink("Inventario", "Inventario", "Agio")</a>
            <a href="#">@Html.ActionLink("Request GSPN", "showRequest", "Request")</a>
            <a href="#">@Html.ActionLink("Reportes", "Reportes", "Agio")</a>
        </div>
        <a href="#contact">Search</a>
    </div>

    <div id="main">

        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Almacen</span>
    </div>



    <div class="container  ">
        @RenderBody()
    </div>
    
    @*COMENTE--> estos 3 scrips de abajo por que generaba conflicto con DataTable no muestra las propiedades- By Gabriela Blas*@

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "1";
            document.getElementById("main").style.marginLeft = "1";
        }
    </script>

    <!--Este es es ek scrip del dropdown-->

    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>
</body>
</html>
